@model IEnumerable<Test.Models.Student>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="Add">Add New</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
    </div>
</div>
<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FullName
            </th>
            <th>
                Title
            </th>
            <th>
                Email
            </th>
            <th>
                Class
            </th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Title</td>
                <td>@item.Email</td>
                <td>@item.Class</td>
                <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Update</a>



                <a></a>
                    </td>
                
               
            
                    

              

            </tr>
        }
    </tbody>
</table>
